<DOCTYPE! html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<title>Yelp Camp</title>
	</head>
	<body>
		<nav class="navbar navbar-expand navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<a class="navbar-brand  mr-auto" href="/">Yelp Camp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-								label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<ul class="nav navbar-nav">
					<li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					  <% if(!currentUser){ %>
						  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav-link" href="/login">Log In</a></li>
						  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav-link" href="/register">Sign Up <span class="sr-only">(current)</span></a></li>
					  <% } else { %>
						  <li><a class="nav-link" href="/users/<%= currentUser._id %>">Currently signed in as <%= currentUser.username %></a></li>
						  <li><a class="nav-link" href="/logout">Log Out</a></li>
					  <% } %>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>
		<div class="container">
		

